.wrapper {
    @apply overflow-hidden rounded-lg;
    @apply mb-8 shadow-lg;
    font-size: 16px;
    /* box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%),
      0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%); */
}

.wrapper pre {
    margin: unset;
    border-radius: unset;
}

.wrapper .loading span {
    margin: unset;
}
